.my-profile{
    height:100px;
    overflow: auto;
}
.agg-icon{
  background: url("../../Images/footer-icons.png") no-repeat;
  width:204px;
  height:117px;
}
.networks{
  margin-top:50px;
  .account-network{
    border-radius: 6px;
    width:235px;
    height:135px;
    background-color: #f7f7f7;  
    text-align: center;
    margin:10px;
    cursor: pointer;
    .caption{
      padding-top:13px;
      color:#4d9dd9;
      font-size: 2em;
    }
    .network-icon{
      margin-left:auto;
      margin-right:auto;
      opacity: 0.7;    
    }
    .happn-icon{
      margin-top:25px;
      width: 40px;
      height:40px;
      background:url("../../Images/HNGE.png") no-repeat;
      background-size: 40px 40px;
    }
    .tinder-icon{
      margin-top:11px;
      width: 41px;
      height:54px;
      background:url("../../Images/TN.png") no-repeat;
      background-size: 41px 54px;
    }
    .cmb-icon{
      margin-top:25px;
      width: 40px;
      height:40px;
      background:url("../../Images/CMB.png") no-repeat;
      background-size: 40px 40px;
    }
    .okcupid-icon{
      margin-top:25px;
      width: 40px;
      height:40px;
      background:url("../../Images/OKC.png") no-repeat;
      background-size: 40px 40px; 
    }
    .bumble-icon{
      margin-top:20px;
      width: 51px;
      height:45px;
      background:url("../../Images/BMB.png") no-repeat;
      background-size: 51px 45px;  
    }
    .more-networks{
      margin-top:9px;
      height:15px;  
    }
  }
  .account-network:hover{  
    background-color: #f0f0f0;  
    .network-icon{
      opacity: 1;
    }
    .caption{
      color:#1374bd;
    }
  }

}
