#search{
    font-size: 18px;    
	position:relative;
    #search-input, .hint {
	    padding-left: 33px;
	    padding-right: 33px;
	    height:60px;
	    width:100%;
	    border-top:none;
	    border-left:none;
	    border-right:none;
	    border-bottom:1px solid #d4d4d4;
	}
	.algin-right{
		position: absolute;
		right:10px;
		top:15px;
	}
	.align-left{
		position: absolute;
		left:10px;
		top:15px;
	}
	.align-right{
		position: absolute;
		right:15px;
		top:15px;
		cursor: pointer;
	}
}
#bagel_list{
	@media (max-width: 768px) {
  		width:120px;
	}
	@media (min-width: 769px) {
  		width:418px;
	}
	left:0px;
	position: absolute;
	border-right: 1px solid #d4d4d4;
	
	.selected{
		background-color: #eeeeee;
	}
	.bagels{  
		.normal-bagel{
	    	height:115px;
	    	@media (max-width: 768px) {
		  		width:117px;
			}
			@media (min-width: 769px) {
		  		width:415px;
			}
	    	
		    position: relative;		    
		    padding-top:10px;			    		    
	    	padding-bottom:10px;  
	    	border:none;
		    .user-image{
			    width:56px;
			    height:56px;
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position:absolute;
			    left:28px;
			    top:30px;
			    opacity: 0.8;
			} 
		    .user-image-selected{
			    width:66px;
			    height:66px;
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position:absolute;
			    left:23px;
			    top:25px;
			    opacity: 1;
			}
			.pie-border3{
			    width:82px;
			    height:82px;
			    padding:6px;
			    border:8px solid rgba(0,0,0,0.4);      
			    border-top-color: transparent;    
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:15px;
			    top:17px;
			}
			.pie-border3-selected{
				width:92px;
			    height:92px;
			    padding:6px;
			    border:8px solid rgba(112,129,255,0.8);      
			    border-top-color: transparent;     
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:10px;
			    top:12px;
			    animation: 1s animateBorder3 infinite ;   
			}
			
			.pie-border2{
			    width:82px;
			    height:82px;
			    padding:6px;
			    border:8px solid rgba(0,0,0,0.4);      
			    border-top-color: transparent;    
			    border-right-color: transparent;    
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:15px;
			    top:17px;
			}

			.pie-border2-selected{
				width:92px;
			    height:92px;
			    padding:6px;
			    border:8px solid rgba(112,129,255,0.8);      
			    border-top-color: transparent;    
			    border-right-color: transparent;    
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:10px;
			    top:12px;
			    animation: 1s animateBorder ;   
			}
			.pie-border1{
			    width:82px;
			    height:82px;
			    padding:6px;
			    border:8px solid rgba(0,0,0,0.4);      
			    border-top-color: transparent;    
			    border-right-color: transparent;    
			    border-bottom-color: transparent;    
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:15px;
			    top:17px;
			}
			.pie-border1-selected{
				width:92px;
			    height:92px;
			    padding:6px;
			    border:8px solid rgba(112,129,255,0.8);      
			    border-top-color: transparent;    
			    border-right-color: transparent;    
			    border-bottom-color: transparent;    
			    -ms-transform: rotate(30deg); /* IE 9 */
			    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
			    transform: rotate(30deg);
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    position: absolute;
			    left:10px;
			    top:12px;
			    animation: 1s animateBorder ;   
			}

			.star{
			    position: absolute;
			    left:70px;
			    top:14px;
			    color: #999;
			    font-size:1.4em;
			    text-shadow: -3px 3px 1px rgba(255, 255, 255, 1);
			}
			@media (max-width: 768px) {
		  		.name{			  			
				    display: none;
				}
				.short-description{
				    display: none;
				}

				.expire-days-label{
					display: none;
				}
				.expire-days-span{
					display: none;
				}
			}
			@media (min-width: 768px) {
		  		.name{
				    position: absolute;
				    left:110px;
				    top:14px;
				    color: #000;
				    font-size:1.4em;
				}
				.short-description{
				    position: absolute;
				    font-weight: normal;
				    left:112px;
				    top:42px;
				    color: #000;
				    font-size:1em;
				}
				.expire-days-label{
					position: absolute;    
					background-color: #999;
					left:132px;
					top:78px;
					width:24px;
					height:24px;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					border:2px solid #fff;
					color: #000;
					font-size:1em;
					padding-left: 1px;
				}
				.expire-days-span{
					position: absolute;
					font-weight: normal;
					left:160px;
					top:78px;
					color: #000;
					font-size:1em;
				}
			}
	    }  
	    @media (max-width: 768px) {
		    .bagel{
			    height:115px;
			    width:117px;
			    border-bottom: 1px solid #eeeeee;
			    position: relative;
			    opacity: 0.5;
			}
		    .bagel-selected{
			    height:115px;
			    width:117px;
			    border-bottom: 1px solid #eeeeee;
			    position: relative;
			    opacity: 1;
			}
		}
		@media (min-width: 769px) {
		    .bagel{
			    height:115px;
			    width:400px;
			    border-bottom: 1px solid #eeeeee;
			    position: relative;
			    opacity: 0.5;
			}
		    .bagel-selected{
			    height:115px;
			    width:400px;
			    border-bottom: 1px solid #eeeeee;
			    position: relative;
			    opacity: 1;
			}
		}
	}
}

// Chat Widget
.rotate90R{
  transform: rotate(270deg);
}
.rotate90L{
  transform: rotate(90deg);
}
.arrow-right{
  position: absolute; 
  right:-6px;
  top:48%;
}

.arrow-left{
  position: absolute; 
  left:-8px;
  top:48%;
}
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
    .header{
      .pull-right{
        padding-right: 10px !important;
        padding-bottom: 10px !important;
      }
    }
    hr{
      margin-top:10px;
    }
    li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        position: relative;
        .chat-body{
          p {
              margin: 0;
              padding: 10px;
          }
        } 
    }
    li.my-remove {
      margin-bottom: -6px;
    }
    li.left-m{
      .chat-body {
          margin-left: 60px;
          margin-right:0px;  
          border-radius: 5px;
          display: block;
          background: #c7edfc;
          vertical-align: top;          
          padding: 5px 10px;
          border-radius: 5px;
          position: relative;
      }
      .chat-body:before {
          content: "";
          height: 0;
          width: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 6px;
          border-right-color: #c7edfc;
          position: absolute;
          right: -11px;
          top: 12px;
          transform:rotate(180deg);
      }
    }
    li.right-m{
      .chat-body {
        margin-right: 60px;
        margin-left:0px;
        border-radius: 5px;
        display: block;
          background: #f3f5f7;
          vertical-align: top;          
          padding: 5px 10px;
          border-radius: 5px;
          position: relative;
      }  

      .chat-body:before {
          content: "";
          height: 0;
          width: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 6px;
          border-right-color: #f3f5f7;
          position: absolute;
          left: -12px;
          top: 10px;
      }
    } 
}




.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}


.chat-panel{
  position: relative;
}

.panel{
  border:none !important;
}
.panel-default {
  border-color:#fff;
}
.panel-footer{
  background:none !important;
  border-right:none !important;
  border-bottom: none !important;
  border-left:none !important;
  width:100%;  
}
.right-no-padding{
  padding-right:0px !important;
}

.message-profile{	
	width:420px;
	float:left;
	position: fixed;
	right:0px;
	bottom:0px;
	top:55px;
	overflow: auto;
}


.message-profile::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    width: 3px;
}

.message-profile::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

.message-profile::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    width: 3px;
}
.margin-right-430{
	margin-right: 430px;
}
.middle-panel{
	position: fixed;
	top:55px;
	bottom: 0px;
	overflow-y: scroll;

}


.middle-panel::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    width: 3px;
}

.middle-panel::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

.middle-panel::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    width: 3px;
}