.filter-sort-label{
	border-bottom:1px solid #c3c3c3;
	padding-top:14px;
	font-weight: normal;
	color:#c3c3c3;
	span{
		color:#888;
	}
}
.navbar-nav
{
	.filter-sort-dlg{
		padding-left: 20px;
		padding-right: 20px;
		width:300px;
	}
}
.width-50-pro{
	width:50%;
}
.left{
	float:left;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}