<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
<div ng-app="aggregate_dating">
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>