<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <div class="container-fluid">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>