<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="init_account()">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <label class="dropdown-toggle hand-cursor" data-toggle="dropdown" data-target="#fixed-menu">
          <label class="filter-sort-label">Menu </label>&nbsp;<span class="caret"></span>
      </label> 
      <a class="navbar-brand" href=""><img src="Images/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>

  <div  id="fixed-menu" class="fixed-menu-nav">
    <div class="dropdown-menu">
      <ul class="nav navbar-nav side-nav " >
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> DASHBOARD</a>
            <ul>
                <li ng-if="page_number!=2">
                    <a href="#!/discover"><i class="fa fa-fw fa-comment-o" ></i> DISCOVER({{discover_count}})</a>
                </li>
                <li ng-if="page_number!=4">
                    <a href="#!/matches"><i class="fa fa-fw fa-commenting-o"></i> MATCHES({{matches_count}})</a>
                </li>
                <li ng-if="page_number!=3">
                    <a href="#!/messages"><i class="fa fa-fw fa-commenting-o"></i> MESSAGES</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> STATS</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> COMMUNITY</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> OPEN COMMENT SECTION</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> POSITIVE LEADERBOARD</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> IRL BLOG</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> TELL A FRIEND</a>
                </li>
            </ul>
        </li>

        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> SETTINGS</a>
            <ul>
                <li ng-if="page_number!=5">
                    <a href="#!/acount"><i class="fa fa-fw fa-commenting-o"></i> ACCOUNTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">  
    <div class="fixed-dlg" align="center">
      <div ng-if="!account_added_flag" align="center">
        <div class="agg-icon">&nbsp;</div>
        <h1>Add your first dating network to <br /> begin using IRL</h1>
      </div>
      <div ng-if="account_added_flag" align="center" class="added_message">        
        <label>
          <div class="add_success avatar-circle left">
            <div class="check-icon"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
            <div class="check-caption">Success!</div>
          </div>
          <label class="msg  left"><h1>Your {{account_network_msg}} profile <br />is ready to go.</h1>
            <div class="add_buttons">
            <label class="add_more avatar-circle left">Add more profiles
              <div class="dot-line">&nbsp;</div>
            </label><hr class="hr-pos left" width=30 /><label class="text-or left"> or </label> <hr class=" hr-pos left"  width=30 /> <button class="btn-swipe left" >Start swiping! <i class="fa fa-angle-right left-margin-13" aria-hidden="true"></i></button>

            </div>
          </label>
          <div class="clearfix"></div>
        </label>
      </div>
      <div class="networks">
        <label ng-class="{'account-added':account_happn_flag==true, 'account-network':account_happn_flag==false}" ng-click="on_click_happn_account_page()">
          <img ng-if="account_happn_flag" src="Images/avatar.png" width="80px" class="avatar-circle" />
          <div class="happn-icon network-icon">&nbsp;</div>
          <div class="caption" ng-if="!account_happn_flag">Happn</div>
          <div class="caption" ng-if="account_happn_flag">View & Edit Profile</div>
        </label>
        <label  ng-class="{'account-added':account_tinder_flag==true, 'account-network':account_tinder_flag==false}" ng-click="on_click_tinder_account_page()">
          <img ng-if="account_tinder_flag" src="Images/avatar.png" width="80px" class="avatar-circle" />
          <div class="tinder-icon network-icon">&nbsp;</div>
          <div class="caption" ng-if="!account_tinder_flag">Tinder</div>
          <div class="caption" ng-if="account_tinder_flag">View & Edit Profile</div>
        </label>
        <label  ng-class="{'account-added':account_cmb_flag==true, 'account-network':account_cmb_flag==false}" ng-click="on_click_cmb_account_page()">
          <img ng-if="account_cmb_flag" src="Images/avatar.png" width="80px" class="avatar-circle" />
          <div class="cmb-icon network-icon">&nbsp;</div>
          <div class="caption" ng-if="!account_cmb_flag">Coffee Meets Bagel</div>
          <div class="caption" ng-if="account_cmb_flag">View & Edit Profile</div>
        </label>
        <label  ng-class="{'account-added':account_okcupid_flag==true, 'account-network':account_okcupid_flag==false}" ng-click="on_click_okcupid_account_page()">
          <img ng-if="account_okcupid_flag" src="Images/avatar.png" width="80px" class="avatar-circle" />
          <div class="okcupid-icon network-icon">&nbsp;</div>
          <div class="caption" ng-if="!account_okcupid_flag">OKCupid</div>
          <div class="caption" ng-if="account_okcupid_flag">View & Edit Profile</div>
        </label>
        <label  ng-class="{'account-added':account_bumble_flag==true, 'account-network':account_bumble_flag==false}" ng-click="on_click_bumble_account_page()">
          <img ng-if="account_bumble_flag" src="Images/avatar.png" width="80px" class="avatar-circle" />
          <div class="bumble-icon network-icon">&nbsp;</div>
          <div class="caption" ng-if="!account_bumble_flag">OKCupid</div>
          <div class="caption" ng-if="account_bumble_flag">View & Edit Profile</div>
        </label>
        
        <label class="account-network">
          <div class="more-networks network-icon">&nbsp;</div>
          <div class="more-caption">More networks<br /> on the way!</div>
        </label>
      </div> 
      <div class="bottom-btn">
        <button class="btn btn-primary">Activate Global Profile</button>
      </div> 
    </div>    
  </div>  
</div>