<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <label class="dropdown-toggle hand-cursor hidden" data-toggle="dropdown" data-target="#fixed-menu">
          <label class="filter-sort-label">Menu </label>&nbsp;<span class="caret"></span>
      </label> 
      <a class="navbar-brand" href=""><img src="Images/logo.png" /> </a> 
      <div class="site-branding-text">
        <p class="site-title"><a href="" rel="home">InRealLife</a></p>
      </div>
    </div>
    <div class="navbar-collapse text-center hidden" id="bs-example-navbar-collapse-6" >
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>

  <div  id="fixed-menu" class="fixed-menu-nav">
    <div class="dropdown-menu">
      <ul class="nav navbar-nav side-nav " >
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> DASHBOARD</a>
            <ul>
                <li ng-if="page_number!=2">
                    <a href="#!/discover"><i class="fa fa-fw fa-comment-o" ></i> DISCOVER({{discover_count}})</a>
                </li>
                <li ng-if="page_number!=4">
                    <a href="#!/matches"><i class="fa fa-fw fa-commenting-o"></i> MATCHES({{matches_count}})</a>
                </li>
                <li ng-if="page_number!=3">
                    <a href="#!/messages"><i class="fa fa-fw fa-commenting-o"></i> MESSAGES</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> STATS</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> COMMUNITY</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> OPEN COMMENT SECTION</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> POSITIVE LEADERBOARD</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> IRL BLOG</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> TELL A FRIEND</a>
                </li>
            </ul>
        </li>

        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> SETTINGS</a>
            <ul>
                <li ng-if="page_number!=5">
                    <a href="#!/acount"><i class="fa fa-fw fa-commenting-o"></i> ACCOUNTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="page" class="admin-setting">  
  <div> 
    
      <h1>Subscriber List</h1>
      <table class="widefat" width="100%">
        <thead>
            <tr>              
              <th scope="col" align="left"><strong>Email</strong></th>
              <th scope="col" align="center" width="100px"><strong>Delete</strong></th>            
            </tr>
        </thead> 
        <tbody>
          <tr class="row_id_{{email_obj.id}}" ng-repeat="email_obj in email_list">        
            <td align="left"><a href="mailto:{{email_obj.email_address}}">{{email_obj.email_address}}</a></td>              
            <td align="center"><label data-id="{{email_obj.id}}" class="delete-icon" ng-click="onDeleteEmail(email_obj)">&nbsp;</label></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div  class="row">
    <div class="col-sm-6">
      <h1>Page Links</h1>
      <table class="widefat" width="100%">
        <thead>
            <tr>              
              <th scope="col" align="left">Page Link</th>
              <th scope="col" align="left" width="120px">Page Type</th>
              <th scope="col" align="center" width="100px">Action</th>            
            </tr>
            <tr class="control-th">              
              <th scope="col" align="left"><input type="text" class="add_control" ng-model="_add_page_link" placeholder="Page Link"></th>
              <th scope="col" align="left">
              <select class="add_control" id="_add_page_type">
                <option value="1" selected="selected">Front Page</option>
                <option value="2">Admin Page</option>
              </select>
              </th>
              <th scope="col" align="center"><button id="btn_add" ng-click = "onAdd()" class="btn btn-primary">Add</button></th>            
            </tr>
        </thead> 
        <tbody>
          <tr id="link_row_id_{{page_link.id}}" ng-repeat="page_link in page_uris">        
            <td align="left">{{page_link.page_uri}}</td>              
            <td align="left">{{page_types[page_link.page_type]}}</td>              
            <td align="center"><a href="" title="Edit Link" ng-click="onEditLink(page_link)"><i class="fa fa-pencil-square-o" style="font-size:1.3em" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<label title="Delete Link" class="delete-icon" ng-click="onDeleteLink(page_link)">&nbsp;</label>
            &nbsp;&nbsp;&nbsp;
            <a href="" ng-click="onSEOSetting(page_link)"  title="SEO Setting"><i class="fa fa-puzzle-piece" style="font-size:1.3em" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h1>Seo Settings</h1>
      <div class="border">
        <span class="snippet"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Snippet Preview </span> <label ng-class="{'help selected1':help_1_flag==true, 'help':help_1_flag==false}" ng-click="onClickHelp1()"><i class="fa fa-question-circle" aria-hidden="true"></i></label><br />
        <div class="help_capation" ng-if="help_1_flag">This is a rendering of what this post might look like in Google's search results.</div>
        <div class="snippet_preview">
          <div class="title">&nbsp;{{seo_title}}</div>
          <div class="url">&nbsp;{{seo_url}}</div>
          <div class="description">&nbsp;{{seo_description}}</div>
        </div>
        <div class="top-margin-20">
          <div class="my_caption">SEO title</div>
          <div class="my_control"><input type="text" placeholder="Please Input Title" ng-model="seo_title" /></div>          
        </div>

        <div class="top-margin-20">
          <div class="my_caption">Url</div>
          <div class="my_control"><input type="text" placeholder="Please Input Url" ng-model="seo_url" /></div>          
        </div>
        <div class="top-margin-20">
          <div class="my_caption">Meta Description</div>
          <div class="my_control"><textarea placeholder="Please Input Meta Description" ng-model="seo_description"></textarea></div>          
        </div>
        <div class="top-margin-20">
          <div class="my_caption">Focus Keyword</div>
          <div class="my_control"><input type="text" placeholder="Please Input Focus Keyword" ng-model="seo_keyword" /></div>          
        </div> 
        <div class="top-margin-20">
          <div class="my_caption">Facebook Title</div>
          <div class="my_control"><input type="text" placeholder="Please Input Facebook Title" ng-model="fb_title" /></div>          
          <div>If you don't want to use the post title for sharing the post on Facebook but instead want another title there, write it here.</div>
        </div> 

        <div class="top-margin-20">
          <div class="my_caption">Facebook Description</div>
          <div class="my_control"><textarea placeholder="Please Input Facebook Description" ng-model="fb_description"></textarea></div>          
          <div>If you don't want to use the meta description for sharing the post on Facebook but want another description there, write it here.</div>
        </div> 
        <div class="top-margin-20">
          <div class="my_caption">Twitter Title</div>
          <div class="my_control"><input type="text" placeholder="Please Input Twitter Title" ng-model="twitter_title" /></div>          
          <div>If you don't want to use the post title for sharing the post on Twitter but instead want another title there, write it here.</div>
        </div> 

        <div class="top-margin-20">
          <div class="my_caption">Twitter Description</div>
          <div class="my_control"><textarea placeholder="Please Input Twitter Description" ng-model="twitter_description"></textarea></div>          
          <div>If you don't want to use the meta description for sharing the post on Twitter but want another description there, write it here.</div>
        </div> 

        <div class="" align="right">
          <img src="../../Images/loading-w.gif" width="120px" class="loading-w" ng-if="save_seo_flag" /><button class="btn btn-primary top-margin-20" ng-click="onSaveSEO()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>