<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  .bagels{    
    padding-left: 20px;
      
  }
  .bagels .bagel-header{
    height:50px;
    padding-top:20px;
    font-size:2em;
    color:#999;
    text-align: center;
  }
  .bagels .bagel{
    height:320px;
    width:260px;
    border-bottom: 1px solid #eeeeee;
    padding-top:15px;
    padding-bottom:15px;  
    position: relative;
  }
  .bagels .bagel .user-image{
    width:180px;
    height:180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position:absolute;
    left:32px;
    top:42px;
  }
  .bagels .bagel .pie-border{
    width:224px;
    height:224px;
    padding:16px;
    border:8px solid rgba(0,0,0,0.4);      
    border-top-color: transparent;    
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left:10px;
    top:20px;
  }
  .bagels .bagel .star{
    position: absolute;
    left:160px;
    top:32px;
    color: #616870;
    font-size:2em;
    text-shadow: -3px 3px 1px rgba(255, 255, 255, 1);
  }

  .bagels .bagel .name{
    position: absolute;
    left:20px;
    top:240px;
    width:220px;
    color: #000;
    font-size:1.4em;
    text-align: center;
  }

  .bagels .bagel .short-description{
    position: absolute;
    font-weight: normal;
    left:112px;
    top:50px;
    color: #000;
    font-size:1em;
  }
  .expire-days-label{
    position: absolute;    
    background-color: #ebebeb;
    left:120px;
    top:285px;
    width:20px;
    height:20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #000;
    font-size:1em;
    padding-left: 6px;
  }
  .expire-days-span{
    position: absolute;
    font-weight: normal;
    left:20px;
    top:265px;
    text-align: center;
    width:220px;
    color: #000;
    font-size:1em;
  }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>   
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-6">
      <button type="button" class="btn btn-default navbar-btn">Auto Like ?</button>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img /> Meacheal Jackson <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container1">
  <div class="row">
    <div class="bagels"> 
      <div class="bagel-header"> Top Matches </div>              
      <label class="bagel" ng-repeat="bagel in BagelsList | filter: filterBagel1 ">
        <div class="pie-border" ng-if="bagel.border">&nbsp;</div>
        <img class="user-image" ng-src='{{bagel.image}}' />
        <p class="star" ng-if="bagel.star"><i class="fa fa-star fa-large" aria-hidden="true"></i></p>
        <label class="name">{{bagel.name}}, {{bagel.age}}</label>                
        <p class="expire-days-span">{{bagel.expire_days}} days expires</p>
        <p class="expire-days-label">{{bagel.CAP}}</p>
      </label>        
    </div>
    <div class="bagels"> 
      <div class="bagel-header"> Matches </div>              
      <label class="bagel" ng-repeat="bagel in BagelsList | filter: filterBagel0 ">
        <div class="pie-border" ng-if="bagel.border">&nbsp;</div>
        <img class="user-image" ng-src='{{bagel.image}}' />
        <p class="star" ng-if="bagel.star"><i class="fa fa-star fa-large" aria-hidden="true"></i></p>
        <label class="name">{{bagel.name}}, {{bagel.age}}</label>                
        <p class="expire-days-span">{{bagel.expire_days}} days expires</p>
        <p class="expire-days-label">{{bagel.CAP}}</p>
      </label>      
    </div>
  </div>
</div>
