<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  .bagels{
    
    min-width: 340px;
  }
  .bagels .bagel{
    height:135px;
    border-bottom: 1px solid #eeeeee;
    padding-top:15px;
    padding-bottom:15px;  
    position: relative;
  }
  .bagels .bagel .user-image{
    width:66px;
    height:66px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position:absolute;
    left:23px;
    top:33px;
  }

  .bagels .bagel .pie-border{
    width:92px;
    height:92px;
    padding:6px;
    border:8px solid rgba(0,0,0,0.4);      
    border-top-color: transparent;    
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left:10px;
    top:20px;
  }
  .bagels .bagel .star{
    position: absolute;
    left:70px;
    top:22px;
    color: #999;
    font-size:1.4em;
    text-shadow: -3px 3px 1px rgba(255, 255, 255, 1);
  }

  .bagels .bagel .name{
    position: absolute;
    left:110px;
    top:22px;
    color: #000;
    font-size:1.4em;
  }

  .bagels .bagel .short-description{
    position: absolute;
    font-weight: normal;
    left:112px;
    top:50px;
    color: #000;
    font-size:1em;
  }
  .expire-days-label{
    position: absolute;    
    background-color: #ebebeb;
    left:142px;
    top:80px;
    width:20px;
    height:20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #000;
    font-size:1em;
    padding-left: 6px;
  }
  .expire-days-span{
    position: absolute;
    font-weight: normal;
    left:170px;
    top:80px;
    color: #000;
    font-size:1em;
  }
  .chat-mine{
    border:1px solid #d3d3d3;
    padding: 10px;
    position: relative;
    width:80%;
    float:left;
  }
  .chat-bagel{
    border:1px solid #d3d3d3;
    padding: 10px;
    width:80%;
    float: right;
  }
  .send-message{
    width:100%;
    height:55px;
  }
  .send-message button{
    width:155px;
    height:55px;
    background-color: #616872;    
    border: none;
    color: white;
    float:right;
    font-size:1.5em;
  }
  .send-message input{
    height:55px;
    float:left;
    width:@width-155;
    border:1px solid #d3d3d3;
  }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>   
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-6">
      <button type="button" class="btn btn-default navbar-btn">Auto Like ?</button>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img /> Meacheal Jackson <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container1">
  <div class="row">
    <div class="bagels"> 
      <div>Top Mathces</div>        
      <div class="bagel" ng-repeat="bagel in BagelsList|bagel.match:2">
        <div class="pie-border" ng-if="bagel.border">&nbsp;</div>
        <img class="user-image" ng-src='{{bagel.image}}' />
        <p class="star" ng-if="bagel.star"><i class="fa fa-star fa-large" aria-hidden="true"></i></p>
        <label class="name">{{bagel.name}}, {{bagel.age}}</label>
        <label class="short-description">{{bagel.aboutme}}</label>
        <p class="expire-days-label">T</p>
        <p class="expire-days-span">3 days expires</p>
      </div>        
    </div>
  </div>
</div>