<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <label class="dropdown-toggle hand-cursor hidden" data-toggle="dropdown" data-target="#fixed-menu">
          <label class="filter-sort-label">Menu </label>&nbsp;<span class="caret"></span>
      </label> 
      <a class="navbar-brand" href=""><img src="Images/logo.png" /> </a> 
      <div class="site-branding-text">
        <p class="site-title"><a href="" rel="home">InRealLife</a></p>
      </div>
    </div>
    <div class="navbar-collapse text-center hidden" id="bs-example-navbar-collapse-6" >
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>

  <div  id="fixed-menu" class="fixed-menu-nav">
    <div class="dropdown-menu">
      <ul class="nav navbar-nav side-nav " >
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> DASHBOARD</a>
            <ul>
                <li ng-if="page_number!=2">
                    <a href="#!/discover"><i class="fa fa-fw fa-comment-o" ></i> DISCOVER({{discover_count}})</a>
                </li>
                <li ng-if="page_number!=4">
                    <a href="#!/matches"><i class="fa fa-fw fa-commenting-o"></i> MATCHES({{matches_count}})</a>
                </li>
                <li ng-if="page_number!=3">
                    <a href="#!/messages"><i class="fa fa-fw fa-commenting-o"></i> MESSAGES</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> STATS</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> COMMUNITY</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> OPEN COMMENT SECTION</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> POSITIVE LEADERBOARD</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> IRL BLOG</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> TELL A FRIEND</a>
                </li>
            </ul>
        </li>

        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> SETTINGS</a>
            <ul>
                <li ng-if="page_number!=5">
                    <a href="#!/acount"><i class="fa fa-fw fa-commenting-o"></i> ACCOUNTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="page" class="site">  
  <div class="main-header-body row">
    <div class="bar">&nbsp;</div>
    <div class="introduce">
      <h1>All your Dating Apps - in one unified experience </h1>
      <p class="caption">Less "dating" on your phone, more meeting people in the real world.</p>
      <div class="desk">&nbsp;</div>
      <div class="right-computer">&nbsp;</div>
      <div class="right-side">&nbsp;</div>
      <div class="bar1">&nbsp;</div>
      <div class="email_container"> 
        <div class="kento_email_subscriber">
          <div class="subscribe_theme_six">           
            <div class="subscribe_main">
              <div class="subscribe_form_option">
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Centralized feed for all prospects</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Filter and sort matches across networks</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;One message inbox for all conversations</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Change your profile once, update it everywhere</div>
                <div class="email">
                <input class="subscribe_email" placeholder="Get early access" type="email"><button class="subscribe_submit btn btn-success" ng-click="onEmailSubscribe()">SEND</button>
                </div>
                <h4 class="subscribe_text" style="display: none">Name</h4>
                <input class="subscribe_name"  style="display: none;" placeholder="Type Your Name" name="name" type="name"> 
                <div id='subscribe_status' class="result">Leave your email and we’ll add you to our beta invite list</div>
              </div>
            </div>
          </div>          
        </div>
      </div>      
    </div>
    <div class="footer-icon">
      &nbsp;
    </div>
  </div>
</div>