<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div>
      <div class="nav_default_width">
        <a class="navbar-brand" href=""><img src="Images/logo.png" width=25px /> </a> 
      
        <div class="site-branding-text">
          <p class="site-title"><a href="" rel="home">InRealLife</a></p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="page" class="site">  
  <div class="main-header-body row">
    <div class="bar">&nbsp;</div>
    <div class="introduce">
      <h1>All your Dating Apps - in one unified experience </h1>
      <p class="caption">Less "dating" on your phone, more meeting people in the real world.</p>
      <div class="desk">&nbsp;</div>
      <div class="right-computer">&nbsp;</div>
      <div class="right-side">&nbsp;</div>
      <div class="bar1">&nbsp;</div>
      <div class="email_container"> 
        <div class="kento_email_subscriber">
          <div class="subscribe_theme_six">           
            <div class="subscribe_main">
              <div class="subscribe_form_option">
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Centralized feed for all prospects</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Filter and sort matches across networks</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;One message inbox for all conversations</div>
                <div class="check-text"><i class="fa fa-check font-18" aria-hidden="true"></i>&nbsp;&nbsp;Change your profile once, update it everywhere</div>
                <div class="email">
                <input class="subscribe_email" placeholder="Get early access" type="email"><button class="subscribe_submit btn btn-success" ng-click="onEmailSubscribe()">SEND</button>
                </div>
                <h4 class="subscribe_text" style="display: none">Name</h4>
                <input class="subscribe_name"  style="display: none;" placeholder="Type Your Name" name="name" type="name"> 
                <div id='subscribe_status' class="result">Leave your email and we’ll add you to our beta invite list</div>
              </div>
            </div>
          </div>          
        </div>
      </div>      
    </div>
    <div class="footer-icon">
      &nbsp;
    </div>
  </div>
</div>