<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>   
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-6">
      <div class="nav navbar-nav dropdown">
        <label class="dropdown-toggle hand-cursor" data-toggle="collapse" data-target="#filter_dlg">
          <label class="filter-sort-label">Filter & Sort </label>&nbsp;
          <span class="caret"></span>          
        </label> 
        &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="T-check" title="Tinder" ng-class="{'network-label-1': flag_t == true, 'network-label-2':flag_t == false}" ng-click="onNetworkF('T')">T</label>
          <label for="O-check" title="OKCupid" ng-class="{'network-label-1': flag_o == true, 'network-label-2':flag_o == false}" ng-click="onNetworkF('O')">O</label>
          <label for="P-check" title="POF" ng-class="{'network-label-1': flag_p == true, 'network-label-2':flag_p == false}" ng-click="onNetworkF('P')">P</label>
          <label for="B-check" title="Bumble" ng-class="{'network-label-1': flag_b == true, 'network-label-2':flag_b == false}" ng-click="onNetworkF('B')">B</label>
          <label for="C-check" title="CMB" ng-class="{'network-label-1': flag_c == true, 'network-label-2':flag_c == false}" ng-click="onNetworkF('C')">C</label>
          <label for="1-S-check" title="1" ng-class="{'network-label-3': flag_1_r == true, 'network-label-4':flag_1_r == false}" ng-click="onNetworkF('1R')">1</label>
          <label for="2-S-check" title="2 to 5" ng-class="{'network-label-3': flag_2_r == true, 'network-label-4':flag_2_r == false}" ng-click="onNetworkF('2R')">2</label>
          <label for="5-S-check" title="5+" ng-class="{'network-label-3': flag_5_r == true, 'network-label-4':flag_5_r == false}" ng-click="onNetworkF('5R')">5</label>
          <label for="B-S-check" title="Best" ng-class="{'network-label-3': flag_b_r == true, 'network-label-4':flag_b_r == false}" ng-click="onNetworkF('BR')">BS</label>
          <label for="L-S-check" title="Limited first" ng-class="{'network-label-3': flag_l_r == true, 'network-label-4':flag_l_r == false}" ng-click="onNetworkF('LR')">LS</label>
          <label for="A-S-check" title="Alternate equally" ng-class="{'network-label-3': flag_a_r == true, 'network-label-4':flag_a_r == false}" ng-click="onNetworkF('AR')">AS</label>


        <div id="filter_dlg" class="filter-sort-dlg dropdown-menu">
          <h3>Networks</h3>
          <div class="relative">
            <label class="network-label"  for="T-check" >T</label><label  for="T-check" class="network-span">Tinder</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="T-check" ng-model="flag_t"  ng-click="onNetwork('Tinder', 'T')"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label class="network-label"  for="O-check" >O</label><label  for="O-check" class="network-span">OKCupid</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="O-check" ng-model="flag_o"  ng-click="onNetwork('OKCupid', 'O')"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label class="network-label"  for="P-check" >P</label><label  for="P-check" class="network-span">POF</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="P-check" ng-model="flag_p"  ng-click="onNetwork('OKCupid', 'P')"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label class="network-label"  for="B-check" >B</label><label  for="B-check" class="network-span">Bumble</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="B-check" ng-model="flag_b"  ng-click="onNetwork('Bumble', 'B')"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label class="network-label"  for="C-check" >C</label><label  for="C-check" class="network-span">CMB</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="C-check" ng-model="flag_c"  ng-click="onNetwork('CMB', 'C')"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <hr width="100%" size="8" align="center">
          <h3># of photos</h3>
          <div class="control-group">
            <label class="control control--checkbox width-50-step left"><label for="1-S-check" class="network-span font-14 " > 1</label>
                <input type="checkbox" id="1-S-check" ng-model="flag_1_r"  ng-click="onSort('1')" />
                <div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox width-80-step left"><label for="2-S-check" class="network-span font-14 "> 2 to 5</label>
                <input type="checkbox" id="2-S-check"  ng-model="flag_2_r"  ng-click="onSort('2')" />
                <div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox width-50-step left"><label for="5-S-check" class="network-span font-14 "> 5+</label>
                <input type="checkbox" id="5-S-check"  ng-model="flag_5_r"  ng-click="onSort('5')" />
                <div class="control__indicator"></div>
              </label>
          </div>

          <hr width="100%" size="8" align="center">
          <div class="order-by">
           <h3>Order By</h3>
             <div class="control-group">
              <label class="control control--checkbox width-50-pro left"><label for="B-S-check" class="network-span font-14"> Best</label>
                <input type="checkbox" id="B-S-check"  ng-model="flag_b_r"  ng-click="onSort('B')" />
                <div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox width-50-pro left"><label for="L-S-check" class="network-span font-14"> Limited first</label>
                <input type="checkbox" id="L-S-check"   ng-model="flag_l_r" ng-click="onSort('L')" />
                <div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox  left"><label for="A-S-check" class="network-span font-14"> Alternate equally</label>
                <input type="checkbox" id="A-S-check"  ng-model="flag_a_r" ng-click="onSort('A')" />
                <div class="control__indicator"></div>
              </label>
            </div>
           </div>
        </div>          
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <div class=" navbar-collapse navbar-ex1-collapse">

      <div class="nav navbar-nav nav-search">  
        <div id="search" class="border-right">
          <label for="search-input"  class="align-left"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search by names</span></label>
          <input id="search-input" placeholder="Search by names" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
        </div>      
      </div>
      <div class="nav navbar-nav side-nav panel-body">
        <div id='bagel_list'  >          
          <div class="bagels">        
              <div ng-class="{'bagel': bagel.selected == false,'bagel-seleceted': bagel.selected == true}" ng-repeat="bagel in BagelsList">
                <div ng-class="{'selected': bagel.selected}" class="normal-bagel" ng-click="clickBagel(bagel)">
                  <div ng-class="{'pie-border1': bagel.expire_days == 1 && bagel.selected == false,'pie-border1-selected': bagel.expire_days == 1 && bagel.selected == true, 'pie-border2': bagel.expire_days ==2 && bagel.selected == false,'pie-border2-selected': bagel.expire_days == 2 && bagel.selected == true, 'pie-border3': bagel.expire_days >= 3 && bagel.selected == false,'pie-border3-selected': bagel.expire_days >= 3 && bagel.selected == true}">&nbsp;</div>
                  <img ng-class="{'user-image': bagel.selected == false,'user-image-selected': bagel.selected == true}" ng-src='{{bagel.image}}' />                  
                  <p class="star" ng-if="bagel.star"><i class="fa fa-star fa-large" aria-hidden="true"></i></p>
                  <label class="name">{{bagel.name}}, {{bagel.age}}</label>
                  <label class="short-description">{{bagel.aboutme}}</label>
                  <p class="expire-days-label">{{bagel.CAP}}</p>
                  <p class="expire-days-span">{{bagel.expire_days}} days expires</p>

                </div>
              </div>
            </div>
        </div> 
      </div>
  </div>
  
</nav>
<div class="row" >
  <div class="margin-left-300">  
    <div class="col-sm-12 col-md-6 col-lg-6 ">              
      <div class="chat-panel panel panel-default">
        <div class="panel-heading" style="display: none">
            <i class="fa fa-comments fa-fw"></i>
            Chat
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <ul class="chat">
              <li>
                <div class="col-sm-4 col-md-4 col-lg-4 text-left"><hr></div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">2017/1/7</div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-right"><hr></div>
              </li>
              <li class="left clearfix">
                  <div class="chat-body clearfix">     
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>  
                  </div>
              </li>
              <li class="my-remove clearfix"></li>

              <li class="right clearfix">
                  <div class="chat-body clearfix">    
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>      
                  </div>
              </li>
              <li class="left clearfix">
                  <div class="chat-body clearfix">                      
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>
                  </div>
              </li>

              <li>
                <div class="col-sm-4 col-md-4 col-lg-4 text-left"><hr></div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">2017/1/11</div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-right"><hr></div>
              </li>
              <li class="left clearfix">
                  <div class="chat-body clearfix">     
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>  
                  </div>
              </li>
              <li class="my-remove clearfix"></li>

              <li class="right clearfix">
                  <div class="chat-body clearfix">    
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>      
                  </div>
              </li>
              <li class="left clearfix">
                  <div class="chat-body clearfix">                      
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <div class="header">                          
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i> 06:43
                        </small>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer col-sm-12 col-md-6 col-lg-6 ">
            <div class="input-group right-no-padding">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                        Send
                    </button>
                </span>
            </div>
        </div>
        <!-- /.panel-footer -->
    </div>
  </div>
    <!-- <div style="width: 500px; height: 500px; border:4px solid red;"></div> -->
  <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="bagel_profile">
        <section class="aboutme">
          <label>Profile Title</label>
          <p class="profile" ng-model="my_profile">
            Now that I’ve given you the pep talk, here are some examples of dating introduction that fulfill all of the above requirements — some of these emails are based on actual emails that I’ve used in my time in online dating. I’m happy to say that I’ve formed a long term relationship with a woman I met using one of the very examples below. There is nothing wrong with using these examples as a guide to your own — just do me a favor, and make your words original.
          </p>
        </section>
        <section class="nick-name">
          <label class="img-div">SC</label><label class=name>Jessicaarc</label>
        </section>
        <section class="music-spotify">
            DIE FOR YOU LOREM ISPUM CONTENT MUSIC <br />
            <label class="img-div">SF</label><label class=name>PAUL BAN DYK  </label>
            <div>MUSIC LIST</div><br />
            <div>
            <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
            <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
            <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
            <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
            </div>
            <div align="right" class="button-box">Share your spotify <button class="general_button">Link Spotify</button></div>
        </section>
        <div>
          <button class="ng-click"</button>
        </div>
        <section class="photos">
            <label class="img-div">I</label><label class=name>209 photos to instogram  </label><br/><br/>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
            <div align="right" class="button-box">Share your Instagram <button class="general_button">Link Instagram</button></div>
        </section>
    </div>
  </div>
  </div>
</div>


