
<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Login Form</h1>
</header>
<div class="general_div completed">
<section>
  <button type="button" class="btn btn-primary btn-large" data-ng-click="loginFacebook()">CMB Login with Facebook</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span class='loading-bar' ng-if="login_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</section>
<section ng-if="!login_flag && cmbInfo">  
  <div class="cmb_info">
    <label>FaceBook Token</label> <span class='my_info'>{{fbToken}}</span><br />
    <label>Session ID</label><span class='my_info'>{{sessionid}}</span> <br />
    <label>User ID</label> <span class='my_info'>{{cmbInfo[0].jsonObj.profile_id}}</span> <br />
    <label>Upgrade Available</label>  <span class='my_info'>{{cmbInfo[0].jsonObj.upgrade_available}}</span><br />
    <label>Success </label>  <span class='my_info'>{{cmbInfo[0].jsonObj.success}}</span><br />
    <label>Received From CMB</label> <span class='my_info'>{{cmbInfo[0]}}</span><br />
</section>
</div>
