
<div id="load" ng-if="cmb_logging_in">
<!-- <div id="load"> -->
  <div class="back-layer">
  </div>
</div>

<div class="container">

  <h2 class="text-center">Login Form</h2>
  <br />
  <div class="main_div text-center" id="login-form">

    <section>
      <button class="facebook-button" data-ng-click="loginFacebook()">Facebook</button>
      &nbsp;&nbsp;&nbsp;&nbsp;    
      <label class='loading-bar' ng-if="fb_login_flag"></label>  
    </section>
    <div class="seperate">
      <hr width="130" size="8" align="center"><span class="middle-text">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;</span><hr width="130" size="8" align="center">
      <div class="clear" ng-if="happn_login_flag || !cmb_logging_in"></div>
    </div>
    <section>
      <p class="user-name"><input type="text" ng-model='user_name' placeholder="User Name"/></p>
      <input type="password" placeholder="Password"/>
      <p class="message right"><a href="#">Forgot passowrd?</a></p>
      <div class="clear"></div>
      <!-- <button class="login-button">login</button> -->
      <p class="message">New to IRL? <a href="#">Sign up</a></p>
    </section>
    <br/>
    <br/>
    <br/>
    <section>
      <p class="Facebook Token"><input type="text" ng-model='user_fb_token_for_cmb' placeholder="Facebook Token For CMB"/></p>
      <button class="login-button" data-ng-click="setFBTokenForCMB()">Login for CMB</button>
      <p class="Facebook Token"><input type="text" ng-model='user_fb_token_for_happn' placeholder="Facebook Token For Happn"/></p>
      <button class="login-button" data-ng-click="setFBTokenForHappn()">Login for Happn</button>
    </section>
  </div>
</div>