<link href="CSS/tooltip_skin_variation.css" type="text/css" rel="stylesheet">
<script src="JS/jquery_002.js"></script>
<script type="text/javascript" src="JS/jquery.js"></script>
<style type="text/css">
  @media only screen and (min-width: 960px) {#portfolio-wrapper img {min-height: 147px;}} 
  @media only screen and (min-width: 768px) and (max-width: 959px) {#portfolio-wrapper img {min-height: 115px;}}
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>

    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-6">
      <button type="button" class="btn btn-default navbar-btn">Auto Like ?</button>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img /> Meacheal Jackson <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container-bagels">
  <div class="sixteen columns">
    <div class="project">
      <div style="visibility: visible;" class="sky-carousel sc-no-select">
        <div style="visibility: visible; opacity: 1;" class="sky-carousel-wrapper">
          <ul style="margin-top: 115px; left: -1556px; transition: left 0.45s ease-out 0s;" class="sky-carousel-container">
            <li style="transform-origin: center 139px 0px; transform: translate(0px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/1.jpg" alt="">
              <div class="my-content">
                <h2>Maria Vann, 27</h2><h3>2 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(151px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/2.jpg" alt="">
              <div class="my-content">                
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(302px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/3.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(453px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/4.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(604px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/5.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(755px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/6.jpg" alt="">
              <div class="my-content">
                <h2>Dori Moss, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(906px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/1.jpg" alt="">
              <div class="my-content">
                <h2>Maria Vann, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(1057px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/2.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(1208px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/3.jpg" alt="">
              <div class="my-content">
                <h2>Dora Thomas, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(1359px, 0px) scale(0.5) translateZ(0px); opacity: 0.6; z-index: 19;">
              <img class="sc-image" src="Images/4.jpg" alt="">
              <div class="my-content">
                <h2>Karen Olsen, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(1510px, 0px) scale(0.5) translateZ(0px); opacity: 0.6; z-index: 21;">
              <img class="sc-image" src="Images/5.jpg" alt="">
              <div class="my-content">
                <h2>Mittie Phillip, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li class="" style="transform-origin: center 139px 0px; transform: translate(1661px, 0px) scale(0.5) translateZ(0px); opacity: 0.6; z-index: 23;">
              <img class="sc-image" src="Images/6.jpg" alt="">
              <div class="my-content">
                <h2>Dori Moss, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li class="sc-selected" style="transform-origin: center 139px 0px; transform: translate(1887px, 0px) scale(1) translateZ(0px); opacity: 1; z-index: 24;">
              <img class="sc-image" src="Images/1.jpg" alt="">
              <div class="my-content">
                <h2>Maria Vann, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2113px, 0px) scale(0.5) translateZ(0px); opacity: 0.6; z-index: 22;">
              <img class="sc-image" src="Images/2.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2264px, 0px) scale(0.5) translateZ(0px); opacity: 0.6; z-index: 20;">
              <img class="sc-image" src="Images/3.jpg" alt="">
              <div class="my-content">
                <h2>Dora Thomas, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2415px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/4.jpg" alt="">
              <div class="my-content">
                <h2>Karen Olsen, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2566px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/5.jpg" alt="">
              <div class="my-content">
                <h2>Mittie Phillips, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2717px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/6.jpg" alt="">
              <div class="my-content">
                <h2>Dori Moss, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(2868px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/1.jpg" alt="">
              <div class="my-content">
                <h2>Maria Vann, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(3019px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/2.jpg" alt="">
              <div class="my-content">
                <h2>Leslie Lawson, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(3170px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/3.jpg" alt="">
              <div class="my-content">
                <h2>Dora Thomas, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(3321px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/4.jpg" alt="">
              <div class="my-content">
                <h2>Karen Olsen, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(3472px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/5.jpg" alt="">
              <div class="my-content">
                <h2>Mittie Phillips, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>
              </div>
            </li>
            <li style="transform-origin: center 139px 0px; transform: translate(3623px, 0px) scale(0.5) translateZ(0px); opacity: 0.6;">
              <img class="sc-image" src="Images/6.jpg" alt="">
              <div class="my-content">
                <h2>Dori Moss, 27</h2><h3>3 miles from you</h3>
                <label>Havard Raw School</label>                
              </div>
            </li>
          </ul>
        </div>
      <div style="display: none;" class="sc-preloader"></div>      
    </div>
    <canvas style="width: 190px;" class="sc-overlay sc-overlay-left" width="190" height="1"></canvas>
    <canvas style="width: 190px;" class="sc-overlay sc-overlay-right" width="190" height="1"></canvas><a href="#" class="sc-nav-button sc-prev sc-no-select"></a><a href="#" class="sc-nav-button sc-next sc-no-select"></a></div>
    </div>
  </div>

</div>
<div class="bagel_profile">
  <section class="toolbox"> 
  </section>
  <section class="aboutme">
    <h2>Profile Title</h2>
    <p class="profile">
      I am an expert angularjs developer having more than 4+ years experience on angularjs. I started angularjs
      when it's first released in 2012 and had completed so many projects big to small and have provided ARCHITECT solutions to my clients.
      I could assist you building solid angularjs web app with my amazing experiences. Let me explain about the tools that I am going to use for this project.

      - Firstly, I use John Papa angular-style which is well known coding style in angularjs. (https://github.com/johnpapa/angular-styleguide)

      - Secondly, I use yeoman angular gulp/grunt generator to maintain solid structure and build automation
      - I use github/bitbucket for source code management, Mocha and chai as testing framework and Travis-ci for auto testing & deployments.
      - I use twitter-bootstrap for all of my projects and also love to work with angular material.
      - I am using Linux and JetBrains Webstorm IDE with its all powerfull packages.
      - All my codes will be eslint (angular-eslint https://www.npmjs.com/package/eslint-plugin-angular) free with many inline comments

      https://fintura.de/
      Please check one of my most recent work.
      This website is based on Angularjs/Python and hosted on Heroku.
      For DevOps tools, I have used github, New Relic and Grunt.
      I have integrated Stripe, Sendgrid, Cloudflare, ElasticSearch api on this project.
      Frontend is based on angularjs, twitter bootstrap and bowerjs

      For further discussions you can add my skype(YOUR SKYPEID) or just message from here.

      Regards.

    </p>

  </section>
  <section class="Nick Name">
    (IMG)Jessicaarc  
  </section>
  <section>
      DIE FOR YOU LOREM ISPUM CONTENT MUSIC
      (IMG) Paul VAN DYK
      <div>MUSIC LIST</div>
      <div>Share your spotify <button>Link Spotify</button></div>
  </section>
  <section>
    209 Photos Instagram
    <div>
      Images....
    </div>
    <div>Share your Instagram <button>Link Instagram</button></div>
  </section>
</div>

<script type="text/javascript">
  $(function() {
    $('.sky-carousel').carousel({
      itemWidth: 485,
      itemHeight: 485,
      distance: 0,
      selectedItemDistance: 0,
      selectedItemZoomFactor: 1,
      unselectedItemZoomFactor: 0.85,
      unselectedItemAlpha: 0.3,
      motionStartDistance: 210,
      topMargin: 115,
      gradientStartPoint: 0.35,
      gradientOverlayColor: "#e6e6e6",
      gradientOverlaySize: 190,
      selectByClick: true
    });
  }); 
</script>