<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="init_matches_page()">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <label class="dropdown-toggle hand-cursor" data-toggle="dropdown" data-target="#fixed-menu">
          <label class="filter-sort-label">Menu </label>&nbsp;<span class="caret"></span>
      </label> 
      <a class="navbar-brand" href=""><img src="Images/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse">
      <div class="nav navbar-nav dropdown">      
        <label class="dropdown-toggle hand-cursor" data-toggle="dropdown"><label class="filter-sort-label">Filter & Sort </label>&nbsp;<span class="caret"></span></label> 
        &nbsp;
        <span id="small-mark">
          <label class='tinder'><label for="T-check" title="Tinder"  ng-class="{'network-tinder-1': flag_t == true, 'network-tinder-2':flag_t == false}" >&nbsp;</label></label>
          <label for="O-check" title="OKCupid" ng-class="{'network-okcupid-1': flag_o == true, 'network-okcupid-2':flag_o == false}" >&nbsp;</label>
          <label for="P-check" title="POF" ng-class="{'network-pof-1': flag_p == true, 'network-pof-2':flag_p == false}" >&nbsp;</label>
          <label for="B-check" title="Bumble" ng-class="{'network-bumble-1': flag_b == true, 'network-bumble-2':flag_b == false}" >&nbsp;</label>
          <label for="C-check" title="CMB" ng-class="{'network-cmb-1': flag_c == true, 'network-cmb-2':flag_c == false}" >&nbsp;</label>
          <!--<label class="favorite"><label for="F-S-check" title="Favorites" ng-class="{'network-favorite-1': flag_f_r == true, 'network-favorite-2':flag_f_r == false}" >
          <i class="fa fa-star fa-large" ng-if="flag_f_r"  aria-hidden="true"></i>
          <i class="fa fa-star-o fa-large"  ng-if="!flag_f_r" aria-hidden="true"></i>
          </label></label>
          <label for="R-S-check" title="Recent" ng-class="{'network-recent-1': flag_r_r == true, 'network-recent-2':flag_r_r == false}" >&nbsp;</label>
          <label for="E-S-check" title="Expiring" ng-class="{'network-expiring-1': flag_e_r == true, 'network-expiring-2':flag_e_r == false}" >&nbsp;</label>  -->
        </span>
        <div id="filter_dlg" class="filter-sort-dlg dropdown-menu">
          <h3>Networks</h3>
          <div class="relative">            
            <label for="T-check" title="Tinder" class="right-margin-17 left-margin-10"  ng-class="{'network-t-1': flag_t == true, 'network-t-2':flag_t == false}" >&nbsp;</label><label  for="T-check" class="network-span" >Tinder</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="T-check" ng-model="flag_t"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="O-check" title="OKCupid" class="right-margin-12" ng-class="{'network-okcupid-1': flag_o == true, 'network-okcupid-2':flag_o == false}" >&nbsp;</label>
            <label  for="O-check" class="network-span">OKCupid</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="O-check" ng-model="flag_o"  ng-click="set_cookie_from_flag(0,0)""/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
           <label for="P-check" title="POF" class="right-margin-13" ng-class="{'network-pof-1': flag_p == true, 'network-pof-2':flag_p == false}" >&nbsp;</label>
           <label  for="P-check" class="network-span">POF</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="P-check" ng-model="flag_p"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="B-check" title="Bumble" class="right-margin-12 left-margin-9" ng-class="{'network-bumble-1': flag_b == true, 'network-bumble-2':flag_b == false}" >&nbsp;</label>
            <label  for="B-check" class="network-span left-margin--2">Bumble</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="B-check" ng-model="flag_b"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="C-check" title="CMB" class="right-margin-13" ng-class="{'network-cmb-1': flag_c == true, 'network-cmb-2':flag_c == false}" >&nbsp;</label>
            <label  for="C-check" class="network-span">CMB</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="C-check" ng-model="flag_c"  ng-click="set_cookie_from_flag(0,0)" />
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <hr width="100%" size="8" align="center">

          <div class="order-by">
           <h3>Order By</h3>
            <div class="control-group">
              <label class="control control--checkbox"><label class="favorite"><label for="F-S-check" title="Favorites" ng-class="{'network-favorite-1': flag_f_r == true, 'network-favorite-2':flag_f_r == false}" >
                <i class="fa fa-star fa-large" ng-if="flag_f_r"  aria-hidden="true"></i>
                <i class="fa fa-star-o fa-large"  ng-if="!flag_f_r" aria-hidden="true"></i>
                </label></label><label for="F-S-check" class="network-span left-margin-15 font-14" ng-class="{'under-line':flag_f_r==true}"> Favorites</label>
                <input type="checkbox" ng-model="flag_f_r" id="F-S-check"  ng-click="set_cookie_from_flag(1,2)" />
              </label>
            </div>
            <div class="clearfix"></div>

            <div class="control-group">
              <label class="control control--checkbox left ">
                <label for="R-S-check" title="Recent" ng-class="{'network-recent-1': flag_r_r == true, 'network-recent-2':flag_r_r == false}" >&nbsp;</label><label for="R-S-check" class="network-span left-margin-30 font-14" ng-class="{'under-line':flag_r_r==true}"> Recent</label>
                <input type="checkbox"  ng-model="flag_r_r" id="R-S-check" ng-click="set_cookie_from_flag(1,0)" />
              </label>
              <label class="control control--checkbox left left-margin-30">
                <label for="E-S-check" title="Expiring" ng-class="{'network-expiring-1': flag_e_r == true, 'network-expiring-2':flag_e_r == false}" >&nbsp;</label>
                <label for="E-S-check" class="network-span left-margin-30 font-14" ng-class="{'under-line':flag_e_r==true}"> Expiring</label>
                <input type="checkbox" id="E-S-check"  ng-model="flag_e_r" ng-click="set_cookie_from_flag(1,1)" />
              </label>
            </div>
          </div>
        </div>          
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>
        </li>
      </ul>
    </div>
  </div>
  <div  id="fixed-menu" class="fixed-menu-nav">
    <div class="dropdown-menu">
      <ul class="nav navbar-nav side-nav " >
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> DASHBOARD</a>
            <ul>
                <li ng-if="page_number!=2">
                    <a href="#!/discover"><i class="fa fa-fw fa-comment-o" ></i> DISCOVER({{discover_count}})</a>
                </li>
                <li ng-if="page_number!=4">
                    <a href="#!/matches"><i class="fa fa-fw fa-commenting-o"></i> MATCHES({{matches_count}})</a>
                </li>
                <li ng-if="page_number!=3">
                    <a href="#!/messages"><i class="fa fa-fw fa-commenting-o"></i> MESSAGES</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> STATS</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> COMMUNITY</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> OPEN COMMENT SECTION</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> POSITIVE LEADERBOARD</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> IRL BLOG</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> TELL A FRIEND</a>
                </li>
            </ul>
        </li>

        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> SETTINGS</a>
            <ul>
                <li ng-if="page_number!=5">
                  <a href="#!/account"><i class="fa fa-fw fa-commenting-o"></i> ACCOUNTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row" >
  <div class="bagels-grid"> 
    <label class="bagel" ng-repeat="bagel in BagelsList | orderBy:SortMatches | filter: filterBagelonMatchPage" >
      <label ng-class="{'pie-border1': bagel.expire_days == 1, 'pie-border2': bagel.expire_days ==2, 'pie-border3': bagel.expire_days >= 3}">&nbsp;</label>
      <img class="user-image" ng-src='{{bagel.images[bagel.selected_image]}}' />
      <p class="star" ng-class="{'gray-color': bagel.star==false,'yellow-color': bagel.star==1}" ng-if="!bagel.anim_start" ng-click="onStar(bagel)"><i class="fa fa-large" ng-class="{'fa-star-o': bagel.star==false,'fa-star': bagel.star==1}" aria-hidden="true"></i></p>
      <p class="star anim" ng-if="!bagel.selected_star && bagel.anim_start"><i class="fa fa-star-o fa-large" aria-hidden="true"></i></p>
      <p class="star anim" ng-if="bagel.selected_star && bagel.anim_start"><i class="fa fa-star fa-large" aria-hidden="true"></i></p>
      <label class="name">
      <label title="{{ getNetworkTitle(bagel.CAP)}}" ng-class="{'icon-t': bagel.CAP == 'T', 'icon-o': bagel.CAP == 'O', 'icon-p': bagel.CAP == 'P', 'icon-b': bagel.CAP == 'B', 'icon-c': bagel.CAP == 'C'}">&nbsp;</label>
      {{bagel.name}}, {{bagel.age}}</label>
      <p class="expire-days-span">&nbsp;&nbsp;&nbsp;<span class="days">{{bagel.expire_days}}</span> days expires</p>
      
    </label>        
  </div>
</div>
