
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="init()">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <label class="dropdown-toggle hand-cursor" data-toggle="dropdown" data-target="#fixed-menu">
          <label class="filter-sort-label">Menu </label>&nbsp;<span class="caret"></span>
      </label> 
      <a class="navbar-brand" href="#">LOGO</a>   
    </div>
    <div class="collapse navbar-collapse">
      <div class="nav navbar-nav dropdown">      
        <label class="dropdown-toggle hand-cursor" data-toggle="dropdown"><label class="filter-sort-label">Filter & Sort </label>&nbsp;<span class="caret"></span></label> 
        &nbsp;
        <span id="small-mark">
          <label class='tinder'><label for="T-check" title="Tinder"  ng-class="{'network-tinder-1': flag_t == true, 'network-tinder-2':flag_t == false}" >&nbsp;</label></label>
          <label for="O-check" title="OKCupid" ng-class="{'network-okcupid-1': flag_o == true, 'network-okcupid-2':flag_o == false}" >&nbsp;</label>
          <label for="P-check" title="POF" ng-class="{'network-pof-1': flag_p == true, 'network-pof-2':flag_p == false}" >&nbsp;</label>
          <label for="B-check" title="Bumble" ng-class="{'network-bumble-1': flag_b == true, 'network-bumble-2':flag_b == false}" >&nbsp;</label>
          <label for="C-check" title="CMB" ng-class="{'network-cmb-1': flag_c == true, 'network-cmb-2':flag_c == false}" >&nbsp;</label>
          <!--<label class="favorite"><label for="F-S-check" title="Favorites" ng-class="{'network-favorite-1': flag_f_r == true, 'network-favorite-2':flag_f_r == false}" >
          <i class="fa fa-star fa-large" ng-if="flag_f_r"  aria-hidden="true"></i>
          <i class="fa fa-star-o fa-large"  ng-if="!flag_f_r" aria-hidden="true"></i>
          </label></label>
          <label for="R-S-check" title="Recent" ng-class="{'network-recent-1': flag_r_r == true, 'network-recent-2':flag_r_r == false}" >&nbsp;</label>
          <label for="E-S-check" title="Expiring" ng-class="{'network-expiring-1': flag_e_r == true, 'network-expiring-2':flag_e_r == false}" >&nbsp;</label>  -->
        </span>
        <div id="filter_dlg" class="filter-sort-dlg dropdown-menu">
          <h3>Networks</h3>
          <div class="relative">            
            <label for="T-check" title="Tinder" class="right-margin-17 left-margin-9"  ng-class="{'network-t-1': flag_t == true, 'network-t-2':flag_t == false}" >&nbsp;</label><label  for="T-check" class="network-span">Tinder</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="T-check" ng-model="flag_t"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="O-check" title="OKCupid" class="right-margin-13" ng-class="{'network-okcupid-1': flag_o == true, 'network-okcupid-2':flag_o == false}" >&nbsp;</label>
            <label  for="O-check" class="network-span">OKCupid</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="O-check" ng-model="flag_o"  ng-click="set_cookie_from_flag(0,0)""/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
           <label for="P-check" title="POF" class="right-margin-13" ng-class="{'network-pof-1': flag_p == true, 'network-pof-2':flag_p == false}" >&nbsp;</label>
           <label  for="P-check" class="network-span">POF</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="P-check" ng-model="flag_p"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="B-check" title="Bumble" class="right-margin-12 left-margin-9" ng-class="{'network-bumble-1': flag_b == true, 'network-bumble-2':flag_b == false}" >&nbsp;</label>
            <label  for="B-check" class="network-span left-margin--2">Bumble</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="B-check" ng-model="flag_b"  ng-click="set_cookie_from_flag(0,0)"/>
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <div class="relative">
            <label for="C-check" title="CMB" class="right-margin-13" ng-class="{'network-cmb-1': flag_c == true, 'network-cmb-2':flag_c == false}" >&nbsp;</label>
            <label  for="C-check" class="network-span">CMB</label> 
            <label class="switch margin-custom-check">
              <input type="checkbox" id="C-check" ng-model="flag_c"  ng-click="set_cookie_from_flag(0,0)" />
              <div class="slider round">&nbsp;</div>
            </label>
          </div>
          <hr width="100%" size="8" align="center">

          <div class="order-by">
           <h3>Order By</h3>
            <div class="control-group">
              <label class="control control--checkbox"><label for="F-S-check" class="network-span font-14"> Favorites</label>
                <input type="checkbox" ng-model="flag_f_r" id="F-S-check"  ng-click="set_cookie_from_flag(1,2)" />
                <div class="control__indicator"></div>
              </label>
            </div>

             <div class="control-group">
              <label class="control control--checkbox width-50-pro left"><label for="R-S-check" class="network-span font-14"> Recent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="checkbox"  ng-model="flag_r_r" id="R-S-check" ng-click="set_cookie_from_flag(1,0)" />
                <div class="control__indicator"></div>
              </label>
              <label class="control control--checkbox width-50-pro left"><label for="E-S-check" class="network-span font-14"> Expiring</label>
                <input type="checkbox" id="E-S-check"  ng-model="flag_e_r" ng-click="set_cookie_from_flag(1,1)" />
                <div class="control__indicator"></div>
              </label>
            </div>
           </div>
        </div>          
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-24" ng-src="Images/avatar.png" /> Meacheal Jackson</a>
        </li>
      </ul>
    </div>
    <div class=" navbar-collapse navbar-ex1-collapse">

      <div class="nav navbar-nav nav-search">  
        <div id="search" class="border-right">
          <label for="search-input"  class="align-left"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></label>
          <input id="search-input" ng-model="search_name" placeholder="Search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
        </div>      
      </div>
      <div class="nav navbar-nav side-nav ">
        <div id='bagel_list'  >          
          <div class="bagels">        
              <div ng-class="{'bagel': bagel.selected == false,'bagel-seleceted': bagel.selected == true}" ng-repeat="bagel in BagelsList | orderBy:SortMatches | filter: filterBagelonMessagePage">
                <div ng-class="{'selected': bagel.selected}" class="normal-bagel" ng-click="clickBagel(bagel)">
                  <div ng-class="{'pie-border1': bagel.expire_days == 1 && bagel.selected == false,'pie-border1-selected': bagel.expire_days == 1 && bagel.selected == true, 'pie-border2': bagel.expire_days ==2 && bagel.selected == false,'pie-border2-selected': bagel.expire_days == 2 && bagel.selected == true, 'pie-border3': bagel.expire_days >= 3 && bagel.selected == false,'pie-border3-selected': bagel.expire_days >= 3 && bagel.selected == true}">&nbsp;</div>
                  <img ng-class="{'user-image': bagel.selected == false,'user-image-selected': bagel.selected == true}" ng-src='{{bagel.images[bagel.selected_image]}}' />                  
                  <p class="star"  ng-class="{'black-color': bagel.star==false,'yellow-color': bagel.star==1}" ><i class="fa fa-large" ng-class="{'fa-star-o': bagel.star==false,'fa-star': bagel.star==1}" aria-hidden="true"></i></p>
                  
                  <label class="short-description">{{bagel.aboutme}}</label>
                  <label class="name">
                    <label title="{{ getNetworkTitle(bagel.CAP)}}" ng-class="{'icon-t': bagel.CAP == 'T', 'icon-o': bagel.CAP == 'O', 'icon-p': bagel.CAP == 'P', 'icon-b': bagel.CAP == 'B', 'icon-c': bagel.CAP == 'C'}">&nbsp;</label>
                    {{bagel.name}}, {{bagel.age}}</label>
                  <!--<p class="expire-days-label">{{bagel.CAP}}</p> -->
                  <p class="expire-days-span">{{bagel.expire_days}} days expires</p>

                </div>
              </div>
            </div>
        </div> 
      </div>
  </div>
  <div  id="fixed-menu" class="fixed-menu-nav">
    <div class="dropdown-menu">
      <ul class="nav navbar-nav side-nav " >
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> DASHBOARD</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-comment-o" ></i> DISCOVER(42)</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> MATCHES(12)</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> MESSAGES</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> STATS</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> COMMUNITY</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> OPEN COMMENT SECTION</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> POSITIVE LEADERBOARD</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> IRL BLOG</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> TELL A FRIEND</a>
                </li>
            </ul>
        </li>

        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> SETTINGS</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-commenting-o"></i> ACCOUNTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-dashboard"></i> LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>
<div class="row" >
  <div class="middle-panel">  
    <div id="chat-panel" class="chat-panel panel panel-default" scroll-glue>
      <div class="panel-heading" style="display: none">
          <i class="fa fa-comments fa-fw"></i>
          Chat
          <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-chevron-down"></i>
              </button>
          </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="chat">
            <li>
              <div class="col-sm-4 col-md-4 col-lg-4 text-left"><hr></div>
              <div class="col-sm-4 col-md-4 col-lg-4 text-center">2017/1/7</div>
              <div class="col-sm-4 col-md-4 col-lg-4 text-right"><hr></div>
            </li>
            <li class="my-remove clearfix"></li>
            <li class="left-m clearfix">
                <div class="chat-body clearfix">     
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>  
                </div>
            </li>
            <li class="my-remove clearfix"></li>

            <li class="right-m clearfix">
                <div class="chat-body clearfix">    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>      
                </div>
            </li>
            <li class="left-m clearfix">
                <div class="chat-body clearfix">                      
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>
                </div>
            </li>

            <li>
              <div class="col-sm-4 col-md-4 col-lg-4 text-left"><hr></div>
              <div class="col-sm-4 col-md-4 col-lg-4 text-center">2017/1/11</div>
              <div class="col-sm-4 col-md-4 col-lg-4 text-right"><hr></div>
            </li>
            <li class="my-remove clearfix"></li>
            <li class="left-m clearfix">
                <div class="chat-body clearfix">     
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>  
                </div>
            </li>
            <li class="my-remove clearfix"></li>

            <li class="right-m clearfix">
                <div class="chat-body clearfix">    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>      
                </div>
            </li>
            <li class="left-m clearfix">
                <div class="chat-body clearfix">                      
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                    </p>
                    <div class="header">                          
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 06:43
                      </small>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clearfix"> &nbsp </div>
        <div class="input-group right-no-padding">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send
                </button>
            </span>
        </div>
      </div>
    </div>
  </div>
    <!-- <div style="width: 500px; height: 500px; border:4px solid red;"></div> -->
  <div class="message-profile">
    
    <div class="image-slider">
      <ul rn-carousel rn-carousel-index="carouselIndex" class="image">
        <li ng-repeat="image in prev_bagel.images">    
          <div ng-style="{'background-image': 'url(' + image + ')'} " class="bgimage ng-binding" class="carousel-div" >&nbsp;</div>
        </li>
      </ul> 
      <div rn-carousel-indicators ng-if="prev_bagel.images" slides="prev_bagel.images" rn-carousel-index="carouselIndex">&nbsp;</div> 
    </div>
    <div class="aboutme">
      <label>Profile Title</label>
      <label class="name">
          <label title="{{ getNetworkTitle(prev_bagel.CAP)}}" ng-class="{'icon-t': prev_bagel.CAP == 'T', 'icon-o': prev_bagel.CAP == 'O', 'icon-p': prev_bagel.CAP == 'P', 'icon-b': prev_bagel.CAP == 'B', 'icon-c': prev_bagel.CAP == 'C'}">&nbsp;</label>
          {{prev_bagel.name}}, {{prev_bagel.age}}
      </label>
        <!--<p class="expire-days-label">{{bagel.CAP}}</p> -->
      <p class="expire-days-span">{{prev_bagel.expire_days}} days expires</p>
      <p>{{prev_bagel.aboutme}}</p>

    </div>
    <section class="nick-name">
      <label class="img-div">SC</label> <label class=name>Jessicaarc</label>
    </section>
    <section class="music-spotify">
        DIE FOR YOU LOREM ISPUM CONTENT MUSIC <br />
        <label class="img-div">SF</label><label class=name>PAUL BAN DYK  </label>
        <div>MUSIC LIST</div><br />
        <div>
        <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
        <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
        <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
        <label class="music"><i class="fa fa-play" aria-hidden="true"></i></label>
        </div>
        <div align="right" class="button-box">Share your spotify <button class="general_button">Link Spotify</button></div>
    </section>
    <div>
      <button class="ng-click"</button>
    </div>
    <section class="photos">
        <label class="img-div">I</label><label class=name>209 photos to instogram  </label><br/><br/>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <label class="picture"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        <div align="right" class="button-box">Share your Instagram <button class="general_button">Link Instagram</button></div>
    </section>
  </div>
</div>


<script type="text/javascript">
 
  $(function() {
    
    $("#chat-panel").scrollTop(300);
    
  }); 
</script>