/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
body{
	padding-left:20px;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.completed{
	background:#d9f0de;
	img.mark{
		position:relative;
		right:20px;
		top:30px;
		display:none;
	}
}
.unverified{
	background:#d5d5d5;
	content:"Unverified";
}

.general_div{
	width:46%;
	float:left;
	border:1px dotted #999;
	min-height:250px;
	padding:10px;
	margin:10px;
	label{
		width:120px;
		font-family: Arial;
		font-size:12px;
		
	}
	input{
		width:60%;
	}
	.my_info{
		background:black;
		color:white;
		word-wrap: break-word;
	}	
	.loading-bar{
		height:20px;
		width:30px;
		background-image:image-url('facebook-loader.gif');
		background-size:40% ;
		background-repeat:no-repeat;
	}
	.report_section{
		height:200px;
		overflow:auto;
	}
}